body {
	background-color: #ae2727;
}

#all-comics{
	background-color: green;
}

.individual-comic{
	border-style: solid;
	border-width: 1px;
}
img{
	width: 300px;
	height: 200px;
}
h1{
	color: grey;
}
p{
	font-size: 20px;
	font-family: "roboto";
}